<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FJS Custom UI</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bom.css" />
  </head>

  <script src="js/jquery.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="jquery-plugin-query-parser-master/jquery-queryParser.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/spin.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/index.js"></script>

  <body>
    <h1>FJS Custom UI</h1>
    <p>We can create custom UI</p>
  </body>
</html>
